<h1><%= @user.username %>'s <%= @venue.name %> Venue</h1>

<h2>Event</h2>
<br>
  <% @venue.events.each do |event|%>
    <a href="/event/<%= @venue.id %>/<%= event.id %>/edit"><%= event.name%> - <%= @venue.rating %></a><br>
  <%end%>
<br>

<form action="/venues/<%= @user.username %>/<%= @venue.id %>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Venue">
</form>

<ul>
  <li><a href="/event/<%= @venue.id %>/new">Add event</a></li>
  <li><a href="/venues/edit"> Edit a Venue </a></li>
  <li><a href="/venues/delete"> Delete a Venue </a></li>
  <li><a href="/venues"> Back </a></li>
</ul>
