<h1>Events at <%= @venue.name %></h1>
<br>
<br>
<% @venue.events.each do |event| %>
  <ul>
    <li><a href="/event/<%= @venue.id %>/<%= event.id %>/edit"><h3><%= event.name %></h3></a><%= event.date %> at <%= event.time %></li><br>
  <ul>
<%end%>

<br>
<br>
<br>
<a href="/event/<%= @venue.id %>/new">Add Event</a><br>


<li><a href="/venues"> Back </a></li>
